<div id="menu-header">
    <ul>
        <li><a href="/login">Compte</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/documentation">Documentation</a></li>
    </ul>
</div>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img src="../../assets/images/dgpc.png" alt="">
      </a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <div id="nav-mobile" class="center hide-on-med-and-down">
        <a href="#">Plateforme nationale de gestion des risques et catastrophes</a>
        <!-- <img src="../../assets/images/Logo-AGEOS2.png" class="right"  alt=""> -->
      </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
            <div class="card login">
                <h5>Connectez-vous</h5>
                <div class="divider"></div>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Adresse email</label>
                    </div>
                    <div class="input-field col s12 m12">
                        <input placeholder="Mot de passe" id="pwd" type="password" class="validate">
                        <label for="pwd">Mot de passe</label>
                    </div>
                    <span class="right password-forgot"><a href="#">Mot de passe oublié?</a></span>
                    
                    <div class="col s12 m12 center">
                        <a class="waves-effect waves-light btn"><i class="material-icons right">send</i>Envoyer</a>
                    </div>
                    <div class="col s12 m12 center">
                        <span class="register-form">Vous n'avez pas de compte ? <a href="#">  S'inscrire</a></span>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="col s12 m3"></div>
    </div>

    
    
</div>
